<% include template/header-admin %>

<div class="right-bar">
    <div class="dashboard">
        <div class="box box-user">
            <div class="header">
                <h3 class="d-inline">Daftar Pemilih</h3>
                <a href="/admin/input-user" class="d-inline btn btn-md btn-success float-right">Tambah Pemilih</a>
            </div>

            <div class="table-user container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">NIS</th>
                            <th scope="col">Kelas</th>
                            <th scope="col">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var idx = 1; %>
                        <% list.forEach(function(list){ %>
                        <% if(list.deleteStatus != true){ %>
                        <tr>
                            <th scope="row"><%= idx %></th>
                            <td><%= list.nama %></td>
                            <td><%= list.nis %></td>
                            <td><%= list.kelas %></td>
                            <td>
                                <div class="btn-opsi">
                                    <a href="/admin/edit-user/<%= list._id %>" class="btn btn-sm btn-warning">Edit</a>
                                    <a href="/admin/delete-user/<%= list._id %>" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                        <% idx = idx + 1; %>
                        <% } %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="page">
                <% if(pages > 0) { %>
                <!-- show pagination if there is pages -->
                <nav class="mx-auto" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <!-- FIRST ITEM -->
                        <% if(current == 1) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">First</a>
                        </li>
                        <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/user/1">First</a>
                        </li>
                        <% } %>
                        <!-- ITEMS  -->
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if(i !== 1) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <% } %>
                        <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if(i == current) { %>
                        <li class="page-item active">
                            <a class="page-link" href="<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/user/<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <% } %>
                        <% } %>
                        <!-- LAST ITEM -->
                        <% if(current == pages) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                                Last
                            </a>
                        </li>
                        <% } else { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/user/<%= pages %>">
                                Last
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </nav>
                <% } %>

            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center">
    <P>Copyright 2019</P>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($(window).width() < 600) {
            $('nav').removeClass('fixed-top');
            $('#footer').removeClass('fixed-bottom');
        }
    });
</script>

</html>